*.class
*.prefs
*.project
*.classpath
/target/
**/target/
**/lib/archive/
**/info/archive/
/RemoveTestAssertions/
/StaticReturnTypeAnalyzer/
/DebuggingUtil/
/CoverageInfoParser/
*.log
**/src/test/temp/
/teamscale/backups
/test-analyzer-core/src/test/data/JarIteratorTest/temp_1.jar
/test-analyzer-core/src/test/data/JarIteratorTest/temp_2.jar
/test-analyzer-test-int/src/test/program

