<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">

	<properties>
		<property name="mainLogFile">./logs/MainLog.log</property>
		<property name="testingSyserrLogFile">./logs/4_TestRun_Syserr.log</property>
	</properties>
	
 	<appenders>
		<File name="MainFile" fileName="${mainLogFile}">
			<PatternLayout>
				<pattern>%d{HH:mm:ss,SSS} %p [%t] %m%n</pattern>
			</PatternLayout>
		</File>
		<File name="TestingSyserrFile" fileName="${testingSyserrLogFile}">
			<PatternLayout>
				<pattern>%d{HH:mm:ss,SSS} %p [%t] %m%n</pattern>
			</PatternLayout>
		</File>
	 	<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%p %m%n"/>
		</Console>
	</appenders>
	<loggers>
		<logger name="LoggerTestingSyserr" level="debug" additivity="false">
		 	<appender-ref ref="TestingSyserrFile"/>
		</logger>
		
		<root level="debug">
			<appender-ref ref="MainFile"/>
			<appender-ref ref="Console"/>
		</root>
	</loggers>
</configuration>